body, html {
    height: 100%;
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(135deg, #f5a623, #f76b1c);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Lebih lebar untuk menampung gambar */
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.option {
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s;
}

.option:hover {
    transform: scale(1.05);
}

.spot-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="range"] {
    width: 100%;
    margin: 20px 0;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #f76b1c;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #f76b1c;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #f76b1c;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.fun-button {
    background-color: #f76b1c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.fun-button:hover {
    background-color: #f5a623;
    transform: scale(1.1);
}
.date-details {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
}
